[submodule "Pyverilog"]
	path = Pyverilog
	url = https://github.com/noloerino/Pyverilog/
    branch = term-memoization
[submodule "pyvcd"]
	path = pyvcd
	url = git@github.com:noloerino/pyvcd.git
[submodule "designs"]
	path = designs
	url = git@github.com:noloerino/hwlifting-designs.git
